<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
   <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/08/logo_blue2-1.jpg">
    <div id="nav">
        <div id="nav_wrapper">
            <ul>
                <li><%= link_to "Home",root_path %>
                </li>
                <li> <%= link_to "Academic",academic_path %>
                    <ul>
                        <li><%= link_to "Bachelor Degree of Computer Engineering",tricom_path %>
                        </li>
                        <li><%= link_to "Bachelor Degree of Software and Knowledge Engineering",trisoftware_path %>
                        </li>
                    </ul>
                </li>
                <li> <a href="#">Administration</a>

                    <ul>
                        <li><%= link_to "Department Heads",administration_path %>
                        </li>
                        <!--<li><a href="#">Seniors & Executive Members</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Staffs</a>-->
                        <!--</li>-->
                    </ul>
                </li>
                <!--<li> <a href="#">Admissions</a>-->

                <!--    <ul>-->
                <!--        <li><a href="#">How To Apply</a>-->
                <!--        </li>-->
                <!--        <li><a href="#">Statistical Data</a>-->
                <!--        </li>-->
                <!--    </ul>-->
                <!--</li>-->
                <li> <%= link_to "Tuition Fee",tuition_path %>
                </li>
                <li> <%= link_to "Contact Us",contactus_path %>
                </li>
                <li>
                    <form>
                        <input type="text"  name="search" placeholder="Search..">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
</body>

</html>